.auth {
  height: 100%;
  width: 100vw;
  background: linear-gradient(66.91deg, #171a26be 0%, rgba(75, 79, 91, 0.425) 100%), url("../../assets/laptop-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding: 0px 100px 75px;

  h4 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding: 20px 0px 8px;

    &:first-of-type {
      margin-top: 80px;
    }

    a {
      color: #1d90f5;
      cursor: pointer;
    }
  }

  h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    color: #ffffff;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px 32px;
    max-width: 500px;
    width: 100%;
    margin-top: 76px;

    .name {
      display: flex;
      gap: 24px 32px;
      justify-content: center;

      .input {
        flex: 0.5;
      }
    }

    .input {
      width: auto;
      height: 64px;
      background: #323644;
      border-radius: 10px;
      padding: 8px 20px;
      position: relative;

      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;

      p {
        font-size: 14px;
        line-height: 15px;
        color: #c9c9c9;
        padding-bottom: 4px;
      }

      input {
        width: 100%;
        height: auto;
        background-color: transparent;
        border: none;

        font-size: 20px;
        line-height: 26px;
        color: #ffffff;

        &:focus {
          outline: none;
          // background-color: #3b3f4b;
          border-radius: 4px;
        }
      }

      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        height: 20px;
        color: white;
        font-size: 20px;

        position: absolute;
        right: 24px;
        bottom: 13px;

        span {
          height: 20px;
        }
      }
    }

    .actions {
      display: flex;
      gap: 24px 32px;
      justify-content: center;

      button,
      .btn {
        flex: 0.5;
        height: 56px;
        background: #1d90f5;
        border-radius: 28px;
        border: none;
        cursor: pointer;
        

        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #ffffff;
      }

      .btn {
        background-color: #323644;
        display: grid;
        place-items: center;
      }
    }
  }

  .logo {
    height: 120px;
    width: 120px;
    position: absolute;
    right: 100px;
    bottom: 80px;
    background-color: white;
    border-radius: 100%;
  }
}
